{% set navPages = collections.all | eleventyNavigation %}
<header class="Header">
  <div class="Header-inner">
    <div class="Header-logo">
      <a href="{{ site.github.url }}/">{{ site.data.settings.title }}</a>
    </div>
    <nav class="Header-nav">
      {%- for entry in navPages %}
      <a {% if entry.url==page.url %} class="active-menu" {% endif %} href='{{ entry.url }}'>{{
        entry.title }}</a>
      {# Add static link after the third item (index 1) #}
      {% if loop.index == 4 %}
      <a href="{{site.data.settings.meetup}}" target="_blank">Meetup</a>
      {% endif %}
      {% endfor %}
    </nav>
  </div>
  <div class="Header-border">
    ==============================================================================================================================================================
  </div>
</header>