<head>

  <title>
    {% if page.title == "Home" %}
      {{ site.data.settings.title }} | {{ site.data.settings.tagline }}
    {% else %}
      {{ page.title }} | {{ site.data.settings.title }}
    {% endif %}
  </title>

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" href="/assets/favicons/favicon.ico" type="image/x-icon" />

  <!-- CSS -->
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="css/head.css">
  <link rel="stylesheet" href="/css/post.css">
  <link rel="stylesheet" href="/css/blog.css">
  <link rel="stylesheet" href="/css/footer.css">




  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">

  <!-- <script type="text/javascript" src="/assets/js/script.js" async></script> -->
</head>
