---
layout: 'default.html'
---
<section>
  <div class="Post">
    <h1 class="Post-title">{{ title }}</h1>
    <div class="Post-info">
  <span>{{ page.date | customDate }}</span>
      {% if meetup %}
        <span>
          <a href="{{ meetup }}" target="_blank" rel="noopener nofollow">
            Link to Meetup
          </a>
        </span>
      {% endif %}
      {% if authorLink %}
      <span>
        <a href="{{ authorLink }}" target="_blank" rel="noopener nofollow">
          {{ author }}
        </a>
      </span>
      {% elif author %}
        <span>
          <p>{{ author }}</p>
        </span>
      {% endif %}
    </div>
    <div class="Post-content">{{ content | safe }}</div>
  </div>
</section>
