---
layout: 'default.html'
description: 'Meta description for the page'
metaTitle: 'Title that shows up on google searches'
title: Blog Posts
permalink: 'cities/'
eleventyNavigation:
    key: Cities
    order: 600
---

<div class="Home">
  <div class="Home-posts">
    <h2 class="Home-posts-title">Blog Posts</h2>
    {% for post in site.posts %}
      {% if post.type == "blog" %}
        <div class="Home-posts-post">
          <span class="Home-posts-post-date">{{ post.date }}</span>
          <span class="Home-posts-post-arrow">&raquo;</span>
          <a class="Home-posts-post-title" href="{{ post.url }}">{{ post.title }}</a>
        </div>
      {% endif %}
    {% endfor %}
</div>
