---
layout: 'default.html'
description: 'Meta description for the page'
metaTitle: 'Title that shows up on google searches'
title: Events
permalink: 'events/'
eleventyNavigation:
    key: Events
    order: 300
---
<div class="Home">
  <div class="Home-posts">
    <h2 class="Home-posts-title">{{site.data.settings.title}} Meetups</h2>
    {% for event in collections.events | reverse %}
    {% if loop.index <= 10 and event.data.type=="jcbtc" and event.data.published !=false %} <div
      class="Home-posts-post">
      <span class="Home-posts-post-date">{{ event.date | customDate }}</span>
      <span class="Home-posts-post-arrow">&raquo;</span>
      <a class="Home-posts-post-title" href="{{ event.url }}">{{ event.data.title }}</a>
  </div>
  {% endif %}
  {% endfor %}
</div>

</div>
<div class="Home">
  <div class="Home-posts">
    <h2 class="Home-posts-title">Other Local Events</h2>
    {% for event in collections.events | reverse %}
    {% if loop.index <= 10 and event.data.type !="jcbtc" and event.data.published !=false %} <div
      class="Home-posts-post">
      <span class="Home-posts-post-date">{{ event.date | customDate }}</span>
      <span class="Home-posts-post-arrow">&raquo;</span>
      <a class="Home-posts-post-title" href="{{ event.url }}">{{ event.data.title }}</a>
  </div>
  {% endif %}
  {% endfor %}
</div>
</div>