---
permalink: "feed.xml"
eleventyExcludeFromCollections: true
metadata:
  title: "Jersey City Bitcoin"
  subtitle: "Latest blog posts and events."
  language: "en"
  url: "https://jerseycitybitcoin.com/"
  author:
    name: "Jersey City Bitcoin"
    email: ""
---

{% set allPosts = collections.post | reverse %}
{% set allEvents = collections.events | reverse %}

<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.url }}" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ metadata.title }}</title>
    <link>{{ metadata.url }}</link>
    <atom:link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self" type="application/rss+xml" />
    <description>{{ metadata.subtitle }}</description>
    <language>{{ metadata.language }}</language>

   <!-- Blog Posts -->
    {% for post in allPosts %}
      {% if post.data.published != false %}
        {% set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
        <item>
          <title>{{ post.data.title }}</title>
          <link>{{ absolutePostUrl }}</link>
          <description>{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</description>
          <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
          <dc:creator>{{ metadata.author.name }}</dc:creator>
          <guid>{{ absolutePostUrl }}</guid>
        </item>
      {% endif %}
    {% endfor %}

    <!-- Jersey City Bitcoin Meetups -->
    {% for event in allEvents %}
      {% if event.data.published != false and event.data.type == "jcbtc" %}
        {% set absoluteEventUrl = event.url | absoluteUrl(metadata.url) %}
        <item>
          <title>{{ event.data.title }}</title>
          <link>{{ absoluteEventUrl }}</link>
          <description>{{ event.templateContent | htmlToAbsoluteUrls(absoluteEventUrl) }}</description>
          <pubDate>{{ event.date | dateToRfc822 }}</pubDate>
          <dc:creator>{{ metadata.author.name }}</dc:creator>
          <guid>{{ absoluteEventUrl }}</guid>
        </item>
      {% endif %}
    {% endfor %}

    <!-- Other Events -->
    {% for event in allEvents %}
      {% if event.data.published != false and event.data.type != "jcbtc" %}
        {% set absoluteEventUrl = event.url | absoluteUrl(metadata.url) %}
        <item>
          <title>{{ event.data.title }}</title>
          <link>{{ absoluteEventUrl }}</link>
          <description>{{ event.templateContent | htmlToAbsoluteUrls(absoluteEventUrl) }}</description>
          <pubDate>{{ event.date | dateToRfc822 }}</pubDate>
          <dc:creator>{{ metadata.author.name }}</dc:creator>
          <guid>{{ absoluteEventUrl }}</guid>
        </item>
      {% endif %}
    {% endfor %}


  </channel>
</rss>
