// Typography
$body-font: 'Source Code Pro', monospace;
$base-font-size: 16px;

// Colors
$primary-color: #FF9900;
$background-color: #FFF;
$font-color: #333;

// Screen size for responsiveness
$small-screen: 400px;
$mid-screen: 768px;
$large-screen: 1024px;


.Post {
  word-wrap: break-word;

  &-title {
    margin: 0 0 0.25rem 0;
    font-size: 1.8rem;
  }

  &-info {
    display: flex;
    font-size: 0.8rem;
    opacity: 0.7;
    margin-bottom: 2rem;

    > * {
      &:after {
        content: '·';
        margin: 0 0.5rem;
        opacity: 0.5;
      }

      &:last-child:after {
        display: none;
      }
    }
  }
}
//   Bitcoin Emojis
 .bitcoinEmoji {
  -webkit-text-size-adjust: 100%;
  pointer-events: auto;
  font: inherit;
  list-style: none;
  text-align: inherit;
  white-space: nowrap;
  font-family: inherit;
  word-wrap: break-word;
  -webkit-user-drag: none;
  display: inline-block;
  vertical-align: -20%;
  margin-left: 2px;
  height: 1.2em;
  width: 1.2em;
  margin-right: 0.075em;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
}