---
layout: 'default.html'
description: 'Meta description for the page'
metaTitle: 'Title that shows up on google searches'
tagTitle: 'Pixel Perfect Websites'
preloadCSS: '/css/home.css'
permalink: '/'
eleventyNavigation:
    key: Home
    order: 100
---

<div class="Home">
  <p class="Home-about">
    BitDevs is a community for those interested in discussing and participating in the research and development of Bitcoin and related protocols.
  </p>

  <div class="Home-posts">
    <h2 class="Home-posts-title">Upcoming and Recent Events</h2>
    {% for event in events | reverse %}
      {% if loop.index <= 7 %}
        <div class="Home-posts-post">
          <span class="Home-posts-post-date">{{ event.local_date | customDate }}</span>
          <span class="Home-posts-post-arrow">&raquo;</span>
          <a class="Home-posts-post-title" href="{{ event.link }}">{{ event.name }}</a>
        </div>
      {% endif %}
    {% endfor %}
    <p><a href="/events/">See all events</a></p>
  </div>
  
    
  <div class="Home-posts">
    <h2 class="Home-posts-title">Recent Blog Posts</h2>
    {%- set postCount = 0 -%}
    {%- for post in collections.post -%}
    {%- set postCount = postCount + 1 -%}
    {%- if postCount > collections.post.length - 3 -%}
      <div class="Home-posts-post">
        <span class="Home-posts-post-date">{{ post.date | postDate }}</span>
        <span class="Home-posts-post-arrow">&raquo;</span>
        <a class="Home-posts-post-title" href="{{ post.url }}">{{ post.data.title }}</a>
      </div>
      {%- endif -%}
      {%- endfor -%}
    <p><a href="/blog/">See all blog posts</a></p>
  </div>  

</div>