---
layout: 'default.html'
description: 'Meta description for the page'
metaTitle: 'Title that shows up on google searches'
tagTitle: 'Pixel Perfect Websites'
preloadCSS: '/css/home.css'
permalink: '/'
eleventyNavigation:
---

<div class="Home">
  <p class="Home-about">
    BitDevs is a community for those interested in discussing and participating in the research and development of Bitcoin and related protocols.
  </p>

  <div class="Home-posts">
    <h2 class="Home-posts-title">Upcoming and Recent Events</h2>
    {% for event in collections.events | reverse %}
    {% if loop.index <= 3 and event.data.published == true %}
        <div class="Home-posts-post">
          <span class="Home-posts-post-date">{{ event.date | customDate }}</span>
          <span class="Home-posts-post-arrow">&raquo;</span>
          <a class="Home-posts-post-title" href="{{ event.url }}">{{ event.data.title }}</a>
        </div>
      {% endif %}
    {% endfor %}
    <p><a href="/events/">See all events</a></p>
  </div>
  
  <div class="Home-posts">
    <h2 class="Home-posts-title">Recent Blog Posts</h2>
    {% for post in collections.blog | reverse %}
      {% if loop.index <= 7 and post.data.published == true %}
        <div class="Home-posts-post">
          <span class="Home-posts-post-date">{{ post.data.date | customDate }}</span>
          <span class="Home-posts-post-arrow">&raquo;</span>
          <a class="Home-posts-post-title" href="{{ blog.url }}">{{ post.data.title }}</a>
        </div>
      {% endif %}
    {% endfor %}
    <p><a href="/blog/">See all blog posts</a></p>
  </div>
  

